.achievements-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
    justify-content: center; /* Align items in the center horizontally */
    width: 100px;
  }
  
  .achievement-badge {
    margin: 10px;
    cursor: pointer;
    position: relative;
  }
  
  .achievement-badge:hover .description {
    display: block;
  }
  
  .achievement-badge .description {
    display: none;
    position: absolute;
    top: -30px; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    width: 200px; /* Adjust this value as needed */
    text-align: center;
  }
  