@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Outfit, system-ui, sans-serif;
  }
}

/* Reset any existing font-family definitions */
body, input, button, select, textarea {
  font-family: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
