.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFEEEE;
    height: 100vh; /* Adjust as needed */
  }
  
  .inputContainer {
    width: 80%;

  }
  
  .input {
    background-color: #EBD8C3;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 5px;
    width: 100%; /* Adjust as needed */
  }
  
  .buttonContainer {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  
  .button {
    background-color: #005e74;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
  }
  
  /* Add more styles as needed */
  